{%extends "curriculum_template.html"%}

{% block page %}
<center>
    <h1>Contact me</h1>
</center>
<div>
    <u><b>Telephone:</b></u> {{telephone}}
</div>
<br>
<div>
    <u><b>E-mail:</b></u> {{email}}
</div>
<br>
<div>
    <u><b>Linked in:</b></u> {{link_in}}
</div>
<br>
<div>
    <u><b>Facebook:</b></u> {{fb}}
</div>
<br>
<div>
    <u><b>Twitter:</b></u> {{tw}}
</div>
<br>
<div>
    <u><b>InstaGram:</b></u> {{ig}}
</div>
<br>
<div>
    <u><b>Nationality:</b></u> {{nationality}}
</div>
<br>

<center>
    <img src="images/img2.jpg" alt="">
</center>
{% endblock%}
