{%extends "curriculum_template.html"%}

{% block page %}
<center>
    <h1>Personal information</h1>
</center>
<div>
    <h2>Academic history:</h2> <br>
    <b><u>Schooling:</u></b> {{schooling}} <br> <br>
    <b><u>Schools:</u></b> {{schooling_schools}} <br> <br>
    <b><u>Academic level:</u></b> {{academic}} <br> <br>
    <b><u>Carrer:</u></b> Studying {{carrer}} <br> <br>
    <b><u>Work experience:</u></b> {{work}} <br> <br>
</div>
<div>
    <b><u>Nationality:</u></b> {{nationality}} <br> <br>
</div>






{%endblock%}
